
$green: #8CFF82;

body {
    font-family: sans-serif;
}

fieldset {
    border: 1px solid #aaa;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.errors {
    color: red;
}

@keyframes loading {
    from {
        opacity: 0.5;
        box-shadow: inset 0 0 0 5px #555;
    }
    to {
        opacity: 1;
        box-shadow: inset 0 0 0 10px #555;
    }
}

.video_selector {
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    > * {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    .video_selector_input {
        font-size: 120%;
        padding: 10px;
        flex: 1;
        border: 1px solid;
        border-radius: 2px;

        &.is_invalid {
            border-color: red;
            outline-color: red;
        }
    }
}

.top_split {
    display: flex;

    .instructions {
        flex: 1;
        margin-left: 20px;
        h2 {
            margin-top: 0;
        }

        ul, p {
            font-size: 14px;
        }
    }
}

video.video_preview {
    width: 640px;
    height: 360px;
    background: #bbb;

    &.loading {
        animation: 1s linear 0s infinite alternate loading;
    }
}

.render_options {
    margin-bottom: 10px;
}

.segment_range_input {
    font-family: monospace;
    border: 1px solid;
    border-radius: 2px;
    outline-color: blue;

    &.is_invalid {
        border-color: red;
        outline-color: red;
    }
}

.segment_list {
    list-style: none;
    margin: 10px 0;
    padding: 0;

    li {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .segment_row {
        border-left: 4px solid #dadada;
        padding-left: 10px;
        display: flex;
        align-items: center;

        > * {
            margin-right: 10px;
            &:last-child {
                margin-left: 0;
            }
        }

        input[type=text] {
            width: 100px;
            padding: 3px;
        }

        .spacer {
            flex: 1;
            height: 0px;
            border-bottom: 1px dotted #dadada;
        }

        &.nearest {
            border-color: $green;
        }
    }
}

.playback_controls {
    margin: 10px 0;
    display: flex;
    align-items: center;

    > * {
        margin-right: 10px;
        &:last-child {
            margin-right: 0;
        }
    }
}



.scrubber {
    margin: 10px 0;
    height: 20px;
    flex: 1;
    background: #dadada;
    position: relative;
    overflow: hidden;
    outline-color: blue;

    .current_time {
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        background: rgba(#8CFF82, 0.8);
        margin-left: -2px;
        pointer-events: none;
    }

    .segment {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(black, 0.2);
        min-width: 1px;
        pointer-events: none;
    }
}
