

video.video_preview {
    width: 640px;
    height: 360px;
    background: #dadada;
}

.scrubber {
    height: 20px;
    background: #dadada;
    margin: 20px 0;
    position: relative;
    overflow: hidden;

    .current_time {
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        background: rgba(#8CFF82, 0.8);
        margin-left: -2px;
        pointer-events: none;
    }

    .segment {
        z-index: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(black, 0.2);
        min-width: 1px;
        pointer-events: none;
    }
}
